# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Terraform variables / possible secrets
*.tfvars
*.tfvars.json

# Generated Lambda packages
*.zip

# Environment / credentials
.env
.env.*
*.pem
*.key

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Windows
Thumbs.db